# Build and Output
[Bb]in/
[Oo]bj/
out/
publish/

# Environment and secret
.env
.env.*
appsettings.Development.json
appsettings.Local.json

# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
.vscode/
*.code-workspace

# Entity framework
*.db
*.db-shm
*.db-wal

# Logs
*.log
logs/

# Other
*.DS_Store